name: Node CI

on: [push, pull_request]

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - node-version: 22.15.0
          - node-version: 24.0.1
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install & Build
        uses: bahmutov/npm-install@3e063b974f0d209807684aa23e534b3dde517fd9 # v1.11.2
        with:
          install-command: npm ci --foreground-scripts
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run test:ci
